/*==========================================================================
  404
========================================================================== */

.error-msg{
	width: 60%;
	max-width:700px;
	margin: 50px auto 90px auto;
	text-align: center;
	color: white;

	h1{
		font-size: 180px;
		font-weight: 700;
		margin:0;
		line-height: 1em;
	}

	h3{
		margin: 0;
		font-weight: 600;
		font-size: 28px;
	}

	.or{
		font-weight: 700;
		margin: 18px 0;
	}

	@media (max-width: $screen-tablet - 1){
		width:100%;
		h1{
			line-height: 1.3em;
			margin-bottom: 13px;
			font-size: 100px;
		}
		h3{
			font-size: 20px;
		}
	}

	@media (max-width: $screen-phone - 1){

	}

}