/*==========================================================================
  ABOUT
========================================================================== */
#aboutintro{
	display: table;
	width: 100%;
	//@include min-height(500px);
	overflow: hidden;
	background: $gray-lt;

	.centered{
		max-width: 1400px;
		margin: 0 auto;
	}

	.aboutintro-desc{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		

		.desc{
			padding: $pixel*2  $pixel*5 $pixel*2 0;
			width: 86%;
			float: right;
		}

		.title-black{
			font-size: 30px;
			text-align: left;
		}

		@media (max-width: $screen-desktop - 1){
			width: 100%;
			display:block;
			.desc{
				padding-left: 50px;
				float: none;
				width: 100%;
			}
		}
	}

	.aboutintro-thumb{
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		vertical-align: top;

		@media (max-width: $screen-desktop - 1){
			width: 100%;
			display:block;
			width: 100%;
		}
	}
}

/* ======== ABOUT TEAM ======== */

#abouteam{
	padding-bottom: $pixel * 7;
	overflow: hidden;

	.title-black{
		margin-bottom: 5%;
	}

	@media (max-width: $screen-tablet - 1){
		text-align:center;
	}

}

.abouteam-item{
	@include inline-block();
	vertical-align: top;
	overflow: hidden;
	padding: $pixel + 8 25px;
	width: 48%;
	margin-bottom: $pixel * 5;
	
	@include prefixed(transition, all 0.3s ease-out);

	@media (min-width: $screen-lg-desktop){
		width: 33%;
	}

	@media (max-width: $screen-tablet - 1){
		width: 85%;
		text-align:left;
	}
	@media (max-width: $screen-phone - 1){
		text-align: center;
	}

	
	figure{
		float:left;
		@include border-radius(50%);
		width: 140px;
		overflow: hidden;
		text-align: center;
		margin-right: $pixel * 3;
		img{
			filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
			filter: gray; /* IE5+ */
			-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
			-webkit-transition: all .5s ease-in-out;
			@include border-radius(50%);

			&:hover{
				filter: none;
				-webkit-filter: grayscale(0);
			}
		}

		@media (max-width: $screen-desktop - 1){
			width:100px;
		}

		@media (max-width: $screen-phone){
				float: none;
				display: block;
				margin:0 auto;
				margin-bottom: 20px;
		}
	}

	.desc{
		overflow: hidden;

		h5{
			font-size: 18px;
			font-weight: 700;
			color: $primary-color;
			margin: 0;
			margin-bottom: 0;
		}
	}

	.abouteam-item_share{
		margin-top: 28px;
		@include prefixed(transition, all 0.3s linear);
		a{
				@include inline-block();
				@include prefixed(transition, all 0.3s linear);
				margin-right: 5px;

				&:hover{
					text-decoration:none;
					@include opacity(0.5);
					span{
						color: white !important;
					}
				}
		}
	}

	&:hover{
		background: $gray-lt;
		.abouteam-item_share{
			a {
				.icon-facebook{background: #335f90}
				.icon-twitter-alt{background: #55acee}
				.icon-google{background: #0976b4}
				color:white;
				span{
					color: white !important;
				}
			}
		}

		figure img{
			filter: none;
			-webkit-filter: grayscale(0);
		}
	}
}