/*==========================================================================
  AUTHOR
========================================================================== */
.author-block{
	margin-bottom: $pixel * 6;
	figure{
		float: left;
		margin-right:30px;
		max-width:200px;

		@media (max-width: 571px){
			float:none;
			max-width: 100%;
			width: auto;
			margin:0;
			margin-bottom: 25px;
			text-align: center;
		}
	}

	.desc{
		overflow: hidden;
	
		.author-block_share{
			margin-top:25px;
		}

		@media (min-width: 571px){
			padding-top: $pixel + 5;
		}
	}

	.author-block_share{
		.iconsocial{
			margin-right: 5px;
			@include prefixed(transition, all .3s liner);

			span{
				background: transparent;
				border:1px solid #396393;
			}

			&:hover{
				span{
					background: #396393;
					color: white;
				}
			}
		}
	}
}

.author-post{
	padding-bottom: $pixel * 3;
	.title-latespost{
		text-transform: uppercase;
		border-bottom: 1px solid $gray-dark;
		font-weight: 600;
		margin-bottom: $pixel * 3;
		padding-bottom: $pixel * 2;
	}
}

.author-post_item{
	padding-bottom: $pixel * 4;
	margin-bottom: $pixel * 3 + 8;
	border-bottom: 1px solid $gray-dark;
	overflow: hidden;

	&.nopost{
		border:none;
		p{
			font-size: 26px;
			font-weight: 600;
			color:$secondary-color;
		}
	}

	h3{
		margin: 0;
		font-weight: 600;
		font-size: 26px;
		margin-bottom: $pixel + 7;


		@media (max-width: 570px){
			font-size:22px;
		}

		a{
			color: $primary-color;
			@include prefixed(transition, color .3s linear);

			&:hover{
				color:$tertiary-color;
				text-decoration: none;
			}
		}
	}

	.meta{
		display: block;
		color: $red-dark;
		font-weight: 700;
		font-size: 0.8em;
		margin-bottom: $pixel - 1 ;
	}

	.desc{
		margin-bottom: $pixel;
	}
}