/*==========================================================================
  BLOG
========================================================================== */
.blog-src{
	max-width: 570px;
	margin: 40px auto 10px ;
	.form-control{
		border:1px solid rgba(white, 0.6);
		background: rgba(white, 0.3) image-url('search.png') 98% 50% no-repeat;
		@include background-size(23px, 23px);
		color:white;
		@include border-radius(5px);
		font-weight: 300;
		font-size: 16px;
		color: white !important;
		height: 42px;

		&::-webkit-input-placeholder {
		  color: white
		}
		&:-moz-placeholder { /* Firefox 18- */
		   color: white
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		  color: white
		}
		&:-ms-input-placeholder {  
		   color: white
		}
	}
}
.blog-nav{
	padding:$pixel * 2 0;
	background: $gray-lt;
	text-align: center;
}
.blog-btn_view{
	@include make-md-column(4);
	.btn{
		border:1px solid $tertiary-color;
		
		@media (min-width: $screen-phone){
			padding-right:$pixel * 3;
			padding-left:$pixel * 3;
		}
	}
	.icon-chevron-down{
		margin-left: 5px;
		&:before{
			top: 2px;
			position: relative;
		}
	}

	.dropdown-toggle{
		@include border-right-radius(0); 
	}

	.dropdown-menu{
		left:$pixel + 5;
	}

	@media (max-width: $screen-lg-desktop){
		width:49%;
	}

	@media (max-width: $screen-tablet - 1){
		width:auto;
		@include inline-block();
		margin-bottom: 30px;
	}
}


.blog-subscribe{
	@include make-md-column(8);
	float:right;
	text-align: left;

	@media (max-width: $screen-lg-desktop){
		width:49%;
	}

	@media(max-width: $screen-tablet - 1){
		width:100%
	}

	.control-group, label{
		@include inline-block();
		overflow: hidden;
		vertical-align: middle;
	}

	label{
		font-weight: 600;
		color:$tertiary-color;
		margin-right: 15px;
	}

	.btn-subscribe{
		background: none;
		border:none;
		background: $button-color;
		color: white;
		font-weight: 600;
		@include border-radius(5px);
		padding:9px 30px;
		
		@media (min-width: $screen-lg-desktop){
			float:left;
			@include border-radius(0);
		   @include border-right-radius(5px);
		}
	}

	.form-control{
		@include border-radius(5px);
		@include inline-block();		
		height: 43px;
		border:1px solid #c0c0c0;
		background: #ffffff image-url('envelope.png') 15px 50% no-repeat;
		background-size: 16px 10px;
		padding-left: 42px;
		margin-bottom:10px;
		

		@media (min-width: $screen-lg-desktop){
			width: 68%;
			@include border-radius(0);
			@include border-left-radius(5px);
			float:left;
			margin-bottom: 10px;
		}
	}

	
	.control-group{
		width:100%;
		@media (min-width: $screen-lg-desktop){
			width: 60%;
		}
	}
}


.title-main_feature{
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color:$primary-color;
	font-size: 18px;
}

.blog-featurepost{
	border-bottom:1px solid $gray-dark;
	padding-bottom: $pixel * 4 + 2;
	margin-bottom: $pixel * 2+ 8;

	figure{
		text-align: center;
		margin-bottom: 20px;
		width: 100%
	}
	.meta{
		display: block;
		color: #832e2e;
		font-weight: 700;
		font-size: 0.8em;
		margin-bottom: 9px;
	}

	h3{
		margin: 0;
		font-weight: 600;
		font-size: 26px;
		margin-bottom: $pixel + 7;

		a{
			color: $primary-color;
			@include prefixed(transition, color .3s linear);

			&:hover{
				color:$tertiary-color;
				text-decoration: none;
			}
		}

		@media (max-width: 570px){
			font-size:22px;
			line-height:1.5em;
		}
	}

	.link-arrow{
		background: $red-dark;
		color: white;
		padding:10px 25px;
		text-align: center;

		padding: 6px 25px 10px;
		text-align: center;
		@include border-radius(5px);

		span{
			@include inline-block();
			position: relative;
			padding-right: 30px;
			&:before{
				position:absolute;
				right:0;
				top:6px;
			}
		}

		&:hover{
			background:$tertiary-color;
			color:white;
		}
	}

	@media (min-width: $screen-tablet){
		figure{
			max-width: 370px;
			float:left;
			margin-right: 28px;
			text-align: left;
		}
	}
}