/*==========================================================================
  CONTACT
========================================================================== */
#contact-block{
	padding-bottom: $pixel * 8;

	&:before, &:after{
		 content: " ";
  		display: table;
	}

	&:after{
		clear: both;
	}

	.checkbox{
		label{
			padding-left: 0;
		}
	}
}
.form-contact{
	@include make-sm-column(6);
	@include make-md-column(7);

	.form-control{
		background: #f9f9f9;
		height: 40px;
	}

	textarea{
		height: auto;
	}

	@media (max-width: $screen-desktop){
		margin-bottom:30px;
	}
}



.contact-right{
	@include make-sm-column(6);
	@include make-md-column(5);

	.inner{
		padding-left: $pixel * 3;
	}

	@media (max-width: $screen-desktop){
		.inner{padding-left: 0}
	}
}

.contact-add{
	margin-bottom: $pixel * 3 + 5;
	li{
		display: block;
		color:#475779;
		.icons{
			color:$red-dark;
			display: block;
			float:left;
			margin-right: $pixel * 2 + 5; 
			font-size: 1.5em;
		}

		.desc{
			overflow: hidden;
			border-bottom:1px solid $gray-dark;
			padding-bottom: $pixel;
			font-weight: 700;

			.text-lt{
				font-weight: 400;
			}
		}

		&:last-child{
			.desc{
				border:none;
			}
		}

		&.contact-add_phone{
			padding:$pixel * 2 + 5 0;

			.icons{
				font-size: 2em;
				&:before{
					vertical-align:middle;
				}

				@media (max-width: $screen-tablet - 1){
					&:before{
						vertical-align:top;
					}
				}
			}
		}

	}

	
	.phone{
		font-size: 35px;
		font-weight: 700;

		@media (max-width: $screen-tablet - 1){
			font-size:22px
		}
	}
}

.contact-share{
	background: $gray-lt;
	text-align: center;
	display: table;
	width: 100%;

	.centered{
		display: table-cell;
		height: 170px;
		vertical-align: middle;
	}
	.text{
		@include inline-block();
		margin-right: $pixel + 5;
	}
	.iconsocial{
		margin-right: 7px;
		span{
			color: white;
		}
		
		.icon-facebook{background: #335f90}
		.icon-twitter-alt{background: #55acee}
		.icon-google{background: #0976b4}

		&:hover{
			span{
				background:$gray-dark;
			}
		}
	}		
}