/*==========================================================================
  CHECKBOX AND RADIO 
========================================================================== */
%extend_1 {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	top: -.15em;
	margin: 0 .4em;
	width: 23px;
	height: 20px;
}

.custom-label {
	@include inline-block();
	margin-right: .8em;
	cursor: pointer;
}
.custom-radio {
	@extend %extend_1;
	background-position: 0 -20px;
	&.focus {
		background-position: -20px -20px;
	}
	&.checked {
		background-position: -40px -20px;
		&.focus {
			background-position: -60px -20px;
		}
	}
}
.custom-check {
	@extend %extend_1;
	background: image-url('cxbox.png') top left no-repeat;
	&.focus {
		background-position: top left;
	}
	&.checked {
		background-position: bottom left;
		&.focus {
			background-position: bottom left;
		}
	}
}