/*==========================================================================
  DOWNLOAD PAGES
========================================================================== */

.halfbgwhite{
	display: none;

	@media(min-width: $screen-tablet){
		display:block;
		width: 64.3%;
		position: absolute;
		right: 0px;
		height: 100%;
		z-index: 1;
		background: white;
	}
	  
}

#ebook-down{
	position: relative;
	z-index: 10;
}

.aside-ebook{
	@include make-sm-column(4);

	.logoaside{
		text-align: center;
		width: 100%;
		margin-bottom: $pixel * 5;
	}
}

.aside-ebook__form{
	margin-bottom: $pixel * 4;
	@media (min-width: $screen-tablet){
		width: 95%;
		margin-bottom: 0;
	}
	label{
		color: white;
		display: block;
	}

	.form-control{
		background: rgba(white, 0.3);
		border:1px solid white;
		@includ  border-radis(8px);
		color: white;
	}

	.bootstrap-select.btn-group .btn .caret{
		color:white;
	}
}

#ebook-post{
	@include make-sm-column(8);
	padding-left: $pixel + 25px;
	padding-bottom: $pixel * 5;

	@media (max-width: $screen-tablet - 1){
		background:white;
		width: 100%;
		padding:15px;
	}

	h2{
		margin: 0;
		font-weight: 600;
		font-size:28px;
	}

	header{
		padding-bottom:$pixel + 5;
		border-bottom:1px solid $gray-dark;
		margin-bottom: $pixel * 2;
		p{
			font-weight: 300;
			font-size: 22px;
			margin-bottom: 0;
		}
	}	

	.ebook-post__detail__thumb{
		margin:$pixel * 2 + 5 auto;
		text-align: center;
		@media( min-width: 586px + 1){
			float: right;
			margin-left:$pixel * 2;
			text-align: right;	
		}

	}

	.ebook-post__detail{
		overflow: hidden;
		margin-bottom: $pixel + 5;
	}
}

.green-ticklist{
	margin: $pixel * 3  0 $pixel * 3 0;

	@media( min-width: 586px + 1){
		margin-left: $pixel * 4;
	}

	li{
		padding-left: $pixel * 3 + 2;
		position: relative;
		margin-bottom: $pixel + 5;
		strong{
			display: block;
			margin-bottom: $pixel - 5;
			font-weight: 600;
		}
		&:before{
			content:"n";
			font-family: "grantvantage" !important;
			color:$button-color;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: top;
			position: absolute;
			left:0;
			top: 5px;
		}
	}
}