/*==========================================================================
  FEATURE
========================================================================== */

.navfeature{
	background: $gray-dark2;
	text-align: center;
	ul{
		li{
			@include inline-block();
			a{
				display: block;
				padding:16px 7px;
				color:$primary-color;
				font-weight: 600;
				border-bottom:4px solid transparent;
				font-size: 14px;
				@include prefixed(transition, all .3s ease-out);
				&:hover{
					background:$tertiary-color-light;
					border-bottom:4px solid $tertiary-color;
					text-decoration: none;
				}
			}

			&.current{
				a{
					background:$tertiary-color-light;
					border-bottom:4px solid $tertiary-color;
					text-decoration: none;
				}
			}
		}
	}
}

.budgerdec{
	text-align: center;
	margin-bottom: 70px;
	.inner{
		width:67%;
		margin: 0 auto;
	}	
}

.budgetlist{
	overflow: hidden;
	padding-bottom:$pixel * 9;

	@media (max-width: $screen-tablet - 1){
		padding-bottom:$pixel * 3;
	}

}

.budgetinglist-thumb{
	@media (max-width: $screen-lg-desktop - 1){
		width:45%;
	}
	@media (max-width: $screen-tablet - 1){
		width: 100%;
		text-align:center;
		margin-bottom:$pixel + 15;
	}
}

.budgetlist-item{
	@media (min-width: $screen-lg-desktop){
		padding-top: 108px;
	}
	@media (max-width: $screen-lg-desktop - 1){
		width:55%;
	}

	@media (max-width: $screen-tablet - 1){
		width: 100%;
	}

	ul{
		li{
			position: relative;
			z-index: 1;
			background: white;
			margin-bottom: 26px;

			&:before{
				content:"";
				position: absolute;
				z-index: -1;
				background:$gray-line-lt;
				height: 1px;
				left:0;
				top:19px;
				display:none;


				@media (min-width: $screen-lg-desktop){
					display:block;
				}
			}

			&.listone:before{
				width: 470px;
				left:-460px;
			}
			&.listwo:before{
				width: 385px;
				left: -365px;
			}
			&.listhree:before{
				width: 280px;
				left: -276px;
			}
		}
	}


	&.objitem{
		padding-top: 27px;
	
		ul{
			li{
				&.listone:before{width: 674px;left: -667px}
				&.listwo:before{width: 576px;left: -576px;}
				&.listhree:before{width: 493px;left:-486px;}
			}
		}
	}

	&.noline{
		padding-top: 0;

		ul{
			li:before{display:none;};
		}
	}

	&.receiptlist{
		ul{
			li{
				margin-bottom: 16px;
				&:before{
					display:none;
				}

				.icons:before{
					content:"";
					position: absolute;
					z-index: -1;
					background:$gray-line-lt;
					height: 1px;
					right:0;
					top:19px;
				}

				&.listone .icons:before{width: 600px;right:-105px;}
				&.listwo .icons:before{width: 863px;right:-363px;}
				&.listhree .icons:before{width: 878px;right:-377px;}
			}
		}
	}
}

.budgetlist-item{
	padding-bottom: 80px;
	ul{
		li{
			.iconsblue{
				float:left;
				margin-right: 20px;
			}

			.desc{
				overflow: hidden;
			}

			h4{
				margin:0;
				color:  $tertiary-color;
				margin-bottom: 8px;

				a{
					color: $tertiary-color;
					@include prefixed(transition, all .3s linear);
					
					&:hover{
						color:$red-dark;
						text-decoration: none;
					}
				}
			}
		}
	}

	&.receiptlist{
		padding-top: 10px;

		ul{
			li{
				.icons{
					float:none;
					display: block;
					position: relative;
				}

				.desc{
					margin-left:65px;
				}
			}
		}
	}
}


#shecdemo-block{
	text-align: center;
	font-size: 20px;
	padding: 60px 0;
	border-top: 1px solid $light-color;

	&.bgdark{
		background: $fourth-color;
		color: white;
	}
	&.bgblue{
		background: $tertiary-color;
		color:white;
	}

	h3{
		font-weight: 600;
		font-size: $pixel + 22;
		margin: 0;
		margin-bottom:5px;
	}

	h5{
		margin: 0;
		font-weight: 300;
		font-size: $pixel + 22;
		margin-bottom:$pixel + 15;
	}

	.desc{
		margin-bottom:$pixel + 15;
	}
}

/* ======== FEATURE OUTLOOK ======== */
.outlook-thumb{
	text-align: center;
	margin-bottom: $pixel * 7;
}

.outlookdesc-dtl{
	@include make-sm-column(6);
}

.outlookdesc-list{
	@include make-sm-column(6);
	ul, li{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	ul{

		li{
			position: relative;
			display: block;
			margin-bottom:8px;

			&:before{
				margin-right:15px;
				top: 5px;
				position: relative;
				vertical-align: top;
				color:#335f90;
			}
		}
	}
}

/* ======== FEATURE RECIPIENT ======== */
.receipdesc{
	@include make-md-column(6);
	margin-bottom: 60px;
}

.featrecipient-thumb{
	padding-top: $pixel * 5 + 6;
}

/* ======== FEATURE ITEM ======== */
.featbox{
	padding-bottom: $pixel * 9;
	&:before, &:after {
	  content: " ";
	  display: table;
	}

	&:after {
	  clear: both;
	}
}
.featbox-item{
	@include inline-block();
	margin: 5px 15px;
	text-align: center;
	width: 30%;
	position: relative;
	vertical-align: top;

	h4{
		color:$tertiary-color;
		margin-top: 0;
		font-weight: 700;
		font-size: 18px;
	}

	.inner{
		border:1px solid $gray-dark;
		padding:$pixel * 4;
	}

	.iconsblue{
		margin:0 auto;
		position: absolute;
		top:-20px;
		left:50%;
		margin-left: -20px;
	}

	.inner-noborder{
		border:none;
		padding:0 $pixel - 5;
		.iconsblue{
			position: relative;
			left: 0;
			margin:0 auto;
			margin-bottom:$pixel-5;
		}
	}

	&.lines{
		&:before, &:after{
			content:"";
			position: absolute;
			top:0;
			left:0;
			background: $gray-line-lt;
		}
		&:before{
			width: 1px;
		}
		&:after{
			height: 1px;
		}

		&.first, &.third{
			&:before{
				left:50%;
				height: 251px;
				top: -262px;
			}
		}

		&.first{
			&:after{
				width:273px;
				left: 50%;
				top: -110%;
			}
		}

		&.third{
			&:after{
				width: 257px;
				left: -23%;
				top: -110%
			}
		}

		&.second{
			&:before{
				left:50%;
				height: 251px;
				top: -262px;
			}
		}
	}
}

/* ======== FEATURE MANAGEMENT ======== */
.arrow-dot{
	display: block;
	text-align: center;
	height: 114px;
	margin-bottom: $pixel * 3;
	margin-top: -$pixel * 8;
	background: image-url('arrow_dot.png') center top no-repeat;
	@include image-2x(image-url('arrow_dot@2x.png') center top no-repeat, 14px, 114px);
}

/* ======== FEATURE COMPARE ======== */
#compare{

	.centered{
		width: 65%;
		margin: 0 auto;
	}

	.compareitem{
		margin-bottom: $pixel * 5;
		text-align: center;
		h3{
			@include inline-block();
			font-weight: 600;
			font-size: 29;
			margin: 0;
			margin-bottom: $pixel * 2;
			p{
				font-size: 23px;
				color:white;
				@include inline-block();
				margin-right: $pixel + 8;
			}
		}
	}

	.compareitem-list{
		figure{
			text-align: center;
			margin-bottom: 20px;
		}
		li{
			text-align: center;
			@include inline-block();
			vertical-align: top;
			width: 27%;
			margin: 0 15px;
			color:$tertiary-color;
			font-weight: 700;
		}
	}

	.img-left{
		float: left;
		margin-right:$pixel + 3;
	}

	.desc.oflow{
		padding:0 0  $pixel *2 $pixel *2;
	}

	.btn-green{
		margin-top: 20px;
	}

}

