/*==========================================================================
  FOOTER
========================================================================== */
#footer{
	background: white;
	padding-bottom: 90px;
	border-top:1px solid $gray-dark;

	&:before, &:after {
	  content: " ";
	  display: table;
	}
	/* line 19, ../../../../../app/sass/vendor/bootstrap/mixins/_clearfix.scss */
	&:after {
	  clear: both;
	}
}

.footerleft{
	@include make-sm-column(4);
	@include min-height(250px);
	background: $red-dark image-url('ribbon_bg.png') center bottom no-repeat;
	background-size: 100% auto;
	position: relative; 
	color: white;
	padding-bottom:80px;
	margin-top: -1px;

	@media (max-width: $screen-tablet - 1){
		background-image:none;
		padding: 28px 0;
			margin-bottom: 30px;
		@include min-height(0);
	}
	
}
.footerleft-ribon{
	width: 90%;
	margin: 35px auto $pixel auto;

	@media (max-width: $screen-tablet - 1){
		margin: 15px auto;		
	}

	h4{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 23px;

		@media (max-width: 570px){
			font-size:20px;
		}
	}
}

.footeright{
	@include make-sm-column(8);
	padding-top: 98px;
	padding-left: 60px;

	@media (max-width: $screen-desktop -1 ){
		padding-left:0;
	}
	@media (max-width: $screen-tablet - 1){
		padding:0;
	}
}

.footeright-top{
	width: 100%;
	overflow: hidden;
	margin-bottom: 22px;

	ul{
		@include inline-block();
		vertical-align: top;
		width: 40%;
		margin: 0 10px;
		margin-bottom: 20px;

		@media (min-width: $screen-lg-desktop){
			width: 21%;
			margin-bottom: 0;
		}
		

		li{
			font-size: 14px;
			display: block;
			margin-bottom: 10px;

			a{
				color: $gray-footer;
				@include prefixed(transisiton, all .3s ease-in);

				&:hover{
					color:#832e2e;
					text-decoration: none;
				}
			}
		}

		@media (max-width: $screen-tablet - 1){
			width:45%;
			li{
				border-bottom: 1px solid #cecece;
				padding-bottom: 10px;
			}
		}

		@media (max-width: 340px){
			width:98%;
		}		
	}
}

.footeright-bottom{
	text-align: right;
	border-top:1px solid $gray-dark;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 20px;
	color: $gray-footer;	

	@media (max-width: $screen-tablet - 1){
		padding: 20px 18px 0 18px;
	}

	.copyright{
		margin-bottom: 18px;
		text-transform: uppercase;
	}
}

.footeright-bottom-share{
	ul {
		li{
			@include inline-block();
			margin: 0 5px;
			a{
				color:$gray-footer;
				font-size: 1.3em;
				@include prefixed(transition, all .3s ease-in-out);

				&:hover{
					color:#832e2e;
					text-decoration: none;
				}
			}
		}
	}
}