body{
	background:$body-bg;
	font:17px/1.5 $primary-font;
	color:$text-color;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
body, html{overflow: auto !important; margin: 0;height: 100%}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
	font-family: $primary-font;
	font-weight: 700;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

body{
	display: none;
}

/* ======== TITLE ======== */
.title-black{
	font-size:28px;
	text-align: center;
	color: $title-color;
	margin: 0;
	margin-bottom: 20px;
}
.title-whitelg{
	margin: 0;
	color: white;
	font-size: 46px;
	font-weight: 600;
	margin-bottom: 10px;
	line-height: 1.2em;

	@media (max-width: 570px){
		font-size:36px;
	}
}
.title-article{
	margin:0;
	color: $title-color;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 1.5em;
}


/* ======== LAYOUT ======== */
#main{
	padding-top: 80px;

	&.nopad{
		padding-top: 0;
	}
}


.oflow{
	overflow: hidden;
}

/* ======== ICON STYLE ======== */
.iconsblue{
	float:none;
	text-align: center;
	display: table;

	span{
		display: table-cell;
		vertical-align: middle;
		@include square(40px);
		@include border-radius(50%);
		background: $tertiary-color;
		color:white;
		font-size: 1em;
		line-height: 0;

		&:before{
			vertical-align:middle;
		}
	}
}

.iconsocial{
	text-align: center;
	display: table;
	@include inline-block();

	&:hover{
		text-decoration:none;
	}

	span{
		display: table-cell;
		vertical-align: middle;
		@include square(40px);
		@include border-radius(50%); 
		background: #fafafa;
		color:$gray-footer;
		font-size: 1em;
		line-height: 0;

		&:before{
			vertical-align:middle;
		}
	}
}


/* ======== BUTTON & LINK ======== */
.btn-green{
	@include inline-block();
	background: none;
	border:none;
	text-align: center;
	color:white;
	font-weight:600;
	font-size:16px;
	text-transform: uppercase;
	padding: 12px 25px;
	@include min-width(160px);
	background: $button-color;
	@include border-radius(5px);
	@include prefixed(transition, all .3s linear);
	&:hover{
		background:$tertiary-color;
		color: white;
		text-decoration: none;
	}

	span{
		@include inline-block();
		&:before{
			position:relative;
			top:2px;
			margin-right: 8px;
		}
	}
}

.link-blue{
	color: $link-blue;
	&:hover{
		text-decoration:none;
		color: $red-dark
	}
}

.link-arrow{
	color: $red-dark;
	position: relative;
	padding-right: $pixel * 3;
	@include inline-block();
	@include prefixed(transition, all .3s linear);

	&:before{
		position:absolute;
		right:0;
		top:6px;
		color:$gray-line-lt;

		@include prefixed(transition, all .3s linear);
	}

	&:hover{
		&:before{
			right:-8px;
			color: $red-dark;
		}
	}

}


.btn-tansparent{
	@include inline-block();
	background: none;
	border:none;
	text-align: center;
	color:white !important;
	line-height: 1.3em;
	font-weight:600;
	font-size:16px;
	text-transform: uppercase;
	padding: 12px 20px;
	border:1px solid white;
	@include border-radius(5px);
	@include prefixed(transition, all .3s linear);

	span{
		@include inline-block();
		&:before{
			position: relative;
			margin-right: 4px;
			font-size: 1.7em;
			vertical-align: middle;
		}
	}

	&:hover{
		background: rgba(white, 0.5);
	}
}


/* ======== FORM BASE ======== */
label{
	font-weight: normal;
}
.form-control{
	border: 1px solid #cccccc;
}