/*==========================================================================
  HEADER
========================================================================== */

#headerwrap{
	background: image-url('bg_blue.jpg') center top no-repeat;
	@include background-size(cover);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	position: relative;

	&.headerhome{
		background: none;

		#header{
			position: absolute;
			z-index: 999;
			top:0;
			width: 100%;
			background: transparent;
		}
	}

	@media ( max-width : $screen-md-max){
		&.headerhome{
			#header{
				position: relative;
				background: #19425e;
			}
		}
	}
}

.headermain{
	border-bottom: 1px solid rgba(#ffffff, 0.5);

	&:before, &:after {
	  content: " ";
	  display: table;
	}
	&:after {
	  clear: both;
	}
}

.headertop{
	@include inline-block();
	float: right;
	background: rgba($dark-color, 0.2);

	@media(max-width: $screen-sm-max){
		float:none;
		text-align: center;
		margin-bottom: 30px;
	}

	ul{
		li{
			@include inline-block();
			float:left;
			border-right: 1px solid rgba(white, 0.3);
			
			@media(max-width: $screen-sm-max){
				float:none;
			}

			&:last-child{
				border:none;
			}

				a{
					color: white;
					text-transform: uppercase;
					display: block;
					padding:$pixel-4 $pixel + 7;
					font-size: $pixel + 2;
					@include prefixed(transition, all .3s ease-in-out);
					border-bottom: 2px solid transparent;

					.icon-cloud-download:before{
						vertical-align: middle;
						margin-left: 5px;
						font-size: 1.5em;
					}
					
					&:hover{
						background: rgba($dark-color, 0.2);
						text-decoration: none;
						border-color:#d6d6d6;
					}

					@media(max-width: $screen-phone){
						padding: 8px 16px;
					}
				}

			&.active{
				a{
					border-color:#d6d6d6;
				}
			}

		}
	}
}

#logo{
	@include make-md-column(3);
	margin:0;

	@media (max-width: $screen-md-max){
		width:100%;
		float:none;
		text-align: center;
	}
}


/* ======== STICKY HEADER ======== */
#stickyhead{
	background: rgba($sticky-bg, 0.9);
	color: white;
	@include prefixed(transition, 1s ease);
	width: 100%;
	overflow: hidden;
	padding: 13px 0;
	text-align: center;
	z-index: 999;
	@include box-shadow(0 5px 10px rgba(176, 176, 176, 0.63));

	@media (min-width: 780px){
		position:fixed;
		top:-500px;
	}
	@media (max-width: 780px - 1){
		padding:25px 0;
	}


}

.stickyhead-menu{
	@include inline-block();
	ul{
		li{
			@include inline-block();
			margin: 0 40px;

			a{
				display: block;
				float: left;
				color: white;
				text-transform: uppercase;
			}
		}
	}

	@media (max-width: 780px - 1){
		margin-bottom:$pixel;
		ul{
			li{
				margin: 0 10px;
				margin-bottom:15px;
			}
		}
	}
}

.stickyhead-call{
	@include inline-block();
	background: $btn-orange;
	color: white;
	text-transform: uppercase;
	padding: 8px 22px;
	text-align: center;
	border:1px solid transparent;
	@include border-radius(4px);
	@include prefixed(transition, all .3s ease-out);

	&:hover{
		border:1px solid $btn-orange;
		color: $btn-orange;
		background: transparent;
		text-decoration: none;
	}

	&:before{
		vertical-align:middle;
		font-size: 1.2em;
		margin-right: 10px;
	}
}