/*==========================================================================
  HOME
========================================================================== */

#grantmanage{
	text-align: center;

	.grantmanage-head{
		margin-bottom: 25px;
	}
}

#grantslide{
	width:95%;
	margin: 0 auto;
}

#trusted-row{
	text-align: center;
	background: $banner-primary-color;
	padding:6% 0;
	header{
		margin-bottom: 25px;
	}
}

.trustedpart{
	display: table;
	width: 100%;
	
	.trustedpart-item{
		@include inline-block();
		text-align: center;
		width:22%;
		margin: 10px 15px;
		height: 160px;
		vertical-align: middle;
		padding:0 10px;
		text-align: center;
		float: left;
		background: white;
		border-bottom:2px solid #dadfe6;

		.inner{
			display: table-cell;
			vertical-align: middle;
			height: 160px;
			width: 65%;
			margin: 0 auto;
		}

		@media(max-width: $screen-md-max){
			float:none;
			width:30%;
		}
		@media(max-width: $screen-sm-max){
			width:43%;
		}

		@media(max-width: 480px){
			width:90%;
		}
	}


}

#dark-block{
	background: $fourth-color;
	padding:50px 0;
	color: white;
}

.callrow-inner{
	@include make-row();

	.callrow-text{
		@include make-sm-column(6);
	}

	.callrow-phone{
		@include make-sm-column(6);
		font-weight: 300;
		font-size: 35px;
		text-align: right;

		@media(max-width: $screen-tablet - 1){
			font-size:26px;
		}
		
		span{
			font-weight: 700;
		}

	}

	@media(max-width: $screen-sm-max){
		.callrow-phone, .callrow-text{
			float: none;
			width: 100%;
			text-align: center;
		}
		.callrow-text{
			margin-bottom: 15px;
		}
	}

	@media(max-width: $screen-phone - 1){
		font-size:26px;
	}


}