/*==========================================================================
  INTRO
========================================================================== */

#intro{
	padding-bottom: 50px;
	color: white !important;
	font-size: 25px;
	word-wrap:break-word;
	overflow: hidden;
	h2{
		
	}

	.descenter{
		color: white;
		text-align: center;
	}

	.descleft{
		text-align: left;
		color: white;
	}

	.btn-green{
		line-height: 1.3em;
		padding: 17px 25px;
		@include min-width(177px);
	}
	.btn-tansparent, .btn-green{
		margin:0 5px;
	}

	.imgintro{
		max-width: 560px;
		height: auto;
	}

	@media (max-width: $screen-desktop - 1){
		.btn-tansparent, .btn-green{
			font-size:12px;
			min-width: 0;
		}
		.btn-green{
			padding:15px 20px;
		}
		.btn-tansparent{
			padding:10px 20px;
		}
	}
}

.intro-title{
	text-align: center;
	margin: 0;
	margin-bottom:20px;
	font-family: 600;
	font-size: 45px;
	line-height: 1.1em;
}

.intro-titlelt{
	@extend .intro-title;
	text-align: left;
}
