/*==========================================================================
  JUMBOTRON
========================================================================== */
#jumbotron{
	text-align: center;
	padding: $pixel*6 0;
	font-weight: 600;
	font-size: 16px;
	color: white;

	&.under{
		padding-bottom: 0;
	}

	.textlight{
		font-size: 30px;
		font-weight: 300;
		line-height: 1.3em;
		margin: 0 auto $pixel * 3 auto;
		width: 80%;
	}
}

.jumbotron-thumb{
	margin-top:$pixel * 6;
	text-align: center;

	&.minbottom{
		margin-bottom: -79px;
	}
}