/*==========================================================================
  NAVIGATION
========================================================================== */


#navigation
{
	@include make-md-column(9);
	text-align:right;
	margin-top: 35px;


	@media (max-width: $screen-md-max){
		float:none;
		width: 100%;
		text-align: center;
	}

	/*@media(min-width : $screen-lg){
		width:82%;
		float:left;
		text-align:right;
	}
	@media(max-width : $screen-sm-max){
		width:100%;
		float:none;
		text-align:center;
	}*/
	
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;

		a{
			@include inline-block();
			text-transform:uppercase;
			text-decoration:none;
			line-height:1.4em;
			text-transform:uppercase;
			color:darken($lighter-color, 20%);
			@include prefixed(transition, all 0.3s ease-out);
			font-size: 15px;
			font-weight: 400;
			padding: 20px 12px 23px;
			border-bottom: 3px solid transparent;

			&:hover{
				border-bottom: 3px solid $lighter-color;
				color: white;
			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			&:hover{
				> ul{
					display:block;
				}
			}

			&.current{
				a{
					border-bottom: 3px solid $lighter-color;
					color: white;
				}
			}

			&:last-child{
				a {
					padding-right:0;
				}
			}
		}

	   //DROPDOWN
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:$tertiary-color;
			padding:0;

			li{
				float:none;
				width: 245px\9;
				min-width:245px;
				padding:0;

				 /*arrow*/
				&:first-child > a:after {
					content: "";
				    border-left: 15px solid transparent;
				    border-right: 15px solid transparent;
				    left: 50%;
				    position: absolute;
				    top: -15px;
				    margin-left:-13px;
				    color:$lighter-color;
				}
			}

			a{
				padding: $pixel - 1 $pixel * 2;
				display:block;
				border-bottom:none !important;
				text-align:left ;
				font-weight:normal;
				text-transform:uppercase;
				font-size:$pixel_3 * 2;
				font-weight:400;
				color:white !important;

				&:hover{
					border-bottom:none  !important;
					background: darken($tertiary-color, 10%);
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;

				a:after{
					display:none;
				}
			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}


.slicknav_nav .caret{
	display: none;
}

@media screen and (max-width:50em) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@import "vendor/slicknav";