/*==========================================================================
  PAGINATE
========================================================================== */
.pagination {
    text-align: center;
    margin:15px 0;
}
.pagination a, .pagination strong {
    background: white;
    display: inline-block;
    margin-right: 3px;
    padding: 4px 12px;
    text-decoration: none;
    line-height: 1.5em;
    font-size: 1em;
    color: $primary-color;
    border:1px solid #c0c0c0;
    font-weight: normal;
    @include prefixed(transition, all .3s ease-out);
    margin-bottom: 8px;
}
.pagination a:hover {
    background-color: $tertiary-color;
    color: #fff;
}
.pagination {
	a, strong{
		&.current {
		    background: $tertiary-color;
		    color: white;
		}
	}
}

.pagination .disabled{
	background: #F2F2F2;
	color: #898888;
	font-weight: normal
}

