/*==========================================================================
  SCHEDULE
========================================================================== */
#schedule{
	width: 60%;
	max-width: 650px;
	overflow: hidden;
	background: #f2f2f2;
	@include border-radius(5px);
	padding: 15px;
	margin: 0 auto;	
	padding-bottom: 67px;
	margin-bottom: 80px;
}

.schedule-form{
	background: white;
	border:1px solid #cccccc;
	margin-bottom:30px;
	padding: 20px;
	@include border-radius(5px);

	header{
		color:#898989;
		margin-bottom: 40px;
		text-align: center;
		h2{
				font-size: 24px;
				font-weight: 600;
				color:$tertiary-color;
				margin-top: 0;
		}
	}

	.btn-green{
		margin-bottom: -155px;
	}
}

/* ======== SCHEDULE MODAL ======== */

.remodal{
		.modal-schedule__inner{
				background: white;
				max-width: 770px;
				margin: -$pixel * 16 auto 0 auto;
				padding: $pixel * 20 $pixel * 4 $pixel * 8;
				@include border-radius(8px);
		}

		.modal-schedule__title
		{
			background: $btn-orange;
			color:white;
			text-align: center;
			padding: $pixel * 2;
			position: relative;

			h1{
				color: white;
				font-size: 18px;
				font-weight: 700;
				margin: 0;

				span{
					display: block;
					font-size: 1.4em;
				}

				@media (min-width: 768px){
			    	font-size: 24px;
			    }
			}

			&:before, &:after{
				content: '';
				position: absolute; 
				display: none;
				box-sizing: border-box; 
			    -moz-box-sizing: border-box; 
			    -webkit-box-sizing: border-box; 

			    @media (min-width: 768px){
			    	display:block;
			    }
			}
			&:before{
				right: 0;
				bottom: -36px;
				height: 0px;
				width: 0px;
				border-top: 18px solid #b34700;
				border-left: 18px solid #b34700;
				border-right: 18px solid transparent;
				border-bottom: 18px solid transparent;
			}

			&:after{
				left: 0;
				bottom: -36px;
			    height: 0px; 
			    width: 0px; 
			    border-top: 18px solid #b34700; 
			    border-left: 18px solid transparent; 
			    border-right: 18px solid #b34700; 
			    border-bottom: 18px solid transparent; 
			}
		}
}

#logocenter{
	text-align: center;
	margin-bottom:37px;
}
/* ======== 8.2 BACKGROUND FIXED ======== */
#bg{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: #193f6a;

  img{
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  margin: auto;
	  min-width: 50%;
	  min-height: 50%;
	}
}
