/*==========================================================================
  INDUSTRY SOLUTION
========================================================================== */
#intro-solution{
	background: image-url('bg_blur.jpg') center top no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
	@include min-height(320px);
	padding:90px 0 ;
}

.intro-solution_item{
	@include make-sm-column(6);
	@include make-md-column(3);

	figure{
		border: solid 1px #e1e1e1;
		margin-bottom: $pixel + 5;

		img{
			@include box-shadow(0 0 8px rgba(0,0,0,.4));
			border: solid 1px #e1e1e1;	
			@include prefixed(transition, all .12s ease-in-out);
		}
	}

	.link-solut{
		display: block;
		text-align: center;
		padding: $pixel + 5 $pixel - 2;
		color:$tertiary-color;
		font-weight:600;
		font-size: 14px; 
		border:1px solid rgba($tertiary-color, 0.5);
		@include prefixed(transition, all .3s linear);

		span{
			@include inline-block();
			position: relative;
			padding-right: $pixel * 2;

			&:before{
				position:absolute;
				right:0;
				top:5px;
			}
		}

		&:hover{
			background:rgba($tertiary-color, 0.7);
			color: white;
		} 
	}

	&:hover{
		figure img{
			 -webkit-transform: scale(1.1);
			  -moz-transform: scale(1.1);
			  -o-transform: scale(1.1);
			  transform: scale(1.1);
		}
	}
}

.solutions{
	padding-bottom: 50px;
	.title-article{
		text-align: center;
		margin-bottom: 50px;
		font-size: 24px
	}
}

.solutions-item{
	@include inline-block();
	vertical-align: top;
	width: 30%;
	margin:0 $pixel + 5 $pixel * 3; 

	figure{
		float:left;
		margin-right:$pixel * 2;
	}

	.desc{
		overflow: hidden;

		h5{
			margin: 0;
			margin-bottom: $pixel + 5;
			font-weight: 700;
			font-size: 18px;
			color:#3c3c3c;

			a{
				color:#3c3c3c;
				@include prefixed(transition, all .3s ease-in-out);

				&:hover{
					color:$tertiary-color;
				}
			}
		}
	}
}