/*==========================================================================
  WHY GRANTVANTAGE
========================================================================== */

#whyGve{
	padding-bottom: $pixel * 8;
	h2{
		font-weight: 600;
		text-align: center;
		font-size: 18px;
		margin: 0 auto $pixel * 7;
		max-width: 800px;
	}
}

.whyGve__post{
	@include make-row();
}

.whyGve__post__list{
	@include make-sm-column(6);
	margin-bottom: $pixel * 3;
	@include prefixed(transition, all .3s ease-out);

	&:hover{
		.whyGve__post__list__icons{
			color:$red-dark;
			top:2px;
		}
	}
	.whyGve__post__list__icons{
		color:$tertiary-color;
		float:left;
		margin-right: 20px;
		font-size: 40px;
		position: relative;
		@include prefixed(transition, all .6s linear);
	}

	.desc{
		overflow: hidden;
		h4{
			margin:0;
			font-weight: 700;
			font-size: 18px;
			margin-bottom: $pixel + 5;
			a{
				color:$tertiary-color;
				@include prefixed(transition, all .3s ease-out);
				&:hover{
					color:$red-dark;
					text-decoration: none;
				}
			
			}
		}
	}
}