<div id="main" role="main">
	<div class="container">
		<div id="logocenter">
			<figure><img src="assets/img/logo.png" alt="" width="253" height="63"></figure>
		</div><!-- //logocenter -->

		<div class="error-msg">
			<h1>404</h1>
			<h3>Ooops! The page you’re looking for doesn’t exist.</h3>
			<div class="blog-src">
	  			<form>
	  				<input type="text" name="search" class="form-control" placeholder="Search">
	  			</form>
  			</div> <!-- //blog-src -->

  			<p class="or">or</p>

  			<a href="#" class="btn-green outline-inward"><span class="icon-home">GO BACK HOME</span></a>
		</div> <!-- //error-msg -->
	</div>

	<div id="bg">
    	<img src="assets/img/bgfix.jpg" alt="">
  	</div>
</div> <!-- //MAIN -->