---
  budgetdesc: "Store and associate all important documents and media with your grants through The GrantVantage Solution. Upload PDFs, Word docs, Excel spreadsheets, photos, videos, award proposals, important funder correspondence, or any other kind of file for a permanent record of documentation and correspondence for a specific grant."
  
  jumbotron:
      title : About
      desc : Donec ligula urna, sollicitudin et placerat et, fermentum sit amet neque.

  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  story:
    title: Our Story
    desc: "Nullam euismod sit amet turpis sed commodo. Duis congue vitae justo eget tempor. Proin rutrum massa accumsan iaculis accumsan. Aenean accumsan libero sed tempor efficitur. Nam tempor purus quis nunc dignissim suscipit. Donec volutpat sem eu massa pharetra laoreet. Duis scelerisque odio in ligula porttitor, at efficitur nibh aliquam. Curabitur tristique, massa hendrerit volutpat sagittis, justo urna cursus justo, vel condimentum dui justo ac nunc. Mauris ac convallis lectus, ut viverra nunc. Cras dolor quam, rutrum id magna at, porttitor porttitor quam. Vestibulum eu dolor et odio pretium fermentum sit amet et nibh. Nam tempor quis arcu sed fermentum."

  titleteam: Our Team

  team:  
    - name : Quanah
      position: CEO
      thumb: about_thumb1.jpg
    - name: Gordon Darling
      position: CTO
      thumb: about_thumb2.jpg
    - name: Brion Bonkowski
      position: Co Founder
      thumb: about_thumb3.jpg
    - name: Sequoyah
      position: Co Founder
      thumb: about_thumb4.jpg
    - name: Lorenzo
      position: CEO
      thumb: about_thumb5.jpg
    - name: Jazzy Jame
      position: Co Founder
      thumb: about_thumb6.jpg
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<section id="aboutintro">
	<div class="centered">
		<div class="aboutintro-desc">
			<div class="desc">
				<h3 class="title-black">{{ story.title }}</h3>
				<p>{{ story.desc }}</p>
			</div>
		</div> <!-- /aboutintro-desc -->
		
		<div class="aboutintro-thumb">
			<figure><img src="{{assetsimg}}/thumbs/about.jpg"></figure>
		</div><!-- //aboutintro-thumb -->
	</div> 
</section> <!-- aboutintro -->
		
<div id="main" role="main">
	<section id="abouteam">
		<div class="container">
			<h3 class="title-black">{{ titleteam}}</h3>
			<ul>
				{{~#team}}
				<li class="abouteam-item">
					<figure><a href="#"><img src="assets/img/thumbs/{{thumb}}"></a></figure>
					<div class="desc">
						<h5>{{ name }}</h5>
						<p>{{ position }}</p>
						<div class="abouteam-item_share">
							<a href="#" class="iconsocial"><span class="icon-facebook"></span></a>
							<a href="#" class="iconsocial"><span class="icon-twitter-alt"></span></a>
							<a href="#" class="iconsocial"><span class="icon-google"></span></a>
						</div>
					</div>
				</li>
				{{~/team}}
			</ul>
			</div>
	</section> <!-- //abouteam -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}