---
  jumbotron:
      title : Paul Fleming
      desc : VP of Interactive Services

  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  author:
    thumb: handsome.jpg
    desc: "is one of the founders of Dinkum Interactive and brings extensive experience in the Online Marketing world with a strong emphasis in Search Engine Optimization. His background in education, communications and marketing have prepared him well for the fast pace of the online world."

  posts:
    - title: Grantee Suspensions Increasing with Greater Award Oversight 
      date: December 12, 2014  /  By Nicole
      desc: "Last week we explored the rise in penalties that grantees are facing as part of a wider trend toward public spending accountability and transparency. This week we’ll look at publicly posted suspension records and how to keep your agency or your own name off the list."
    - title: Suspension Records Are Public Don’t Make This List
      date: December 15, 2014  /  By Aheu
      desc: "Last week we explored the rise in penalties that grantees are facing as part of a wider trend toward public spending accountability and transparency. This week we’ll look at publicly posted suspension records and how to keep your agency or your own name off the list."

---
<div id="headerwrap">
  {{> header }} 

  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->		
<div id="main" role="main">

	<div class="author-block">
		<div class="container">
			<figure><img src="{{ assetsimg }}/thumbs/{{ author.thumb }}"></figure>
			<p class="desc"><a href="#" class="link-blue">Paul Fleming</a> {{{ author.desc }}}</p>
			<div class="author-block_share">
				<a href="#" class="iconsocial"><span class="icon-facebook"></span></a>
				<a href="#" class="iconsocial"><span class="icon-twitter-alt"></span></a>
				<a href="#" class="iconsocial"><span class="icon-google"></span></a>
			</div>	
		</div>
	</div> <!-- Author block -->

	<section class="author-post">
		<div class="container">
			<p class="title-latespost">latest posts from paul fleming</p>
			<article class="author-post_item nopost">
				<p>There is no post yet from Paul Fleming.</p>
			</article> <!-- //author-post_item -->
		</div>


	</section><!-- //author-post -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}