---
  jumbotron:
      title : Resources
      desc : "Maecenas placerat est nisl, eu lobortis diam elementum in. Nulla vestib ulum elit at viverra egestas."

  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  author:
    thumb: blog.jpg
    title: Grantee Suspensions Increasing with Greater Award Oversight
    meta: December 12, 2014  /  By Nicole
    desc: "Last week we explored the rise in penalties that grantees are facing as part of a wider trend toward public spending accountability and transparency. This week we’ll look at publicly posted suspension records and how to keep your agency or your own name off the list."

  posts:
    - title: Grantee Suspensions Increasing with Greater Award Oversight 
      date: December 12, 2014  /  By Nicole
      desc: "Last week we explored the rise in penalties that grantees are facing as part of a wider trend toward public spending accountability and transparency. This week we’ll look at publicly posted suspension records and how to keep your agency or your own name off the list."
    - title: Suspension Records Are Public Don’t Make This List
      date: December 15, 2014  /  By Aheu
      desc: "Last week we explored the rise in penalties that grantees are facing as part of a wider trend toward public spending accountability and transparency. This week we’ll look at publicly posted suspension records and how to keep your agency or your own name off the list."

---
<div id="headerwrap">
  {{> header }} 

  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  		<div class="blog-src">
  			<form>
  				<input type="text" name="search" class="form-control" placeholder="Search blog">
  			</form>
  		</div> <!-- //blog-src -->
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->		

<div class="blog-nav">
	<div class="container">
		<div class="row">
			<div class="btn-group blog-btn_view" role="group" aria-label="...">
				<button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories <span class="icon-chevron-down"></span></button>
				<ul class="dropdown-menu" role="menu">
				<li><a href="#">Last 1 Weeks</a></li>
				<li><a href="#">Last 1 Month</a></li>
				<li><a href="#">Last 1 Year</a></li>
				<li><a href="#">Selected Date</a></li>
				</ul>
				<button type="button" class="btn btn-default">View Archive</button>
			</div>

			<div class="blog-subscribe">
				<form>
					<label>Subscribe to our latest news</label>
					<div class="control-group">
						<input type="text" name="subscribe" placeholder="Your email" class="form-control icon-email-envelope">
						<input type="submit" value="Subscribe" class="btn-subscribe">
					</div>
				</form>
			</div> <!-- //blog-subscribe -->
		</div>
	</div>
</div> <!-- //blog-nav -->

<div id="main" role="main">

	<div class="container">
		<div class="blog-featurepost">		
			<h2 class="title-main_feature">Featured post</h2>
			<figure><img src="{{ assetsimg }}/thumbs/{{ author.thumb }}"></figure>
			<div class="desc">
				<h3><a href="#">{{ author.title }}</a></h3>
				<span class="meta">{{ author.meta }}</span>
				<p>{{ author.desc }}</p><br>
				<a href="#" class="link-arrow"><span class="icon-arrow-right">Read more</span></a>
			</div>
		</div>
	</div> <!-- Author block -->

	<section class="author-post">
		<div class="container">
			{{~#posts}}
				<article class="author-post_item">
					<h3><a href="#">{{ titmetale }}</a></h3>
					<span class="meta">{{ date }}</span>
					<p class="date">{{desc}}</p>
					<a href="#" class="link-arrow icon-arrow-right">Read more</a>
				</article> <!-- //author-post_item -->
			{{~/posts}}

			 <div class="pagination clearfix">
	            <strong class="disabled">&#60;</strong>
	            <strong class="current">1</strong>
	            <a href="#">2</a>
	            <a href="#">3</a>
	            <a href="#">4</a>
	            <a href="#">5</a>
	            <a href="#">6</a>
	            <a href="#">&#62;</a>
	        </div>
		</div>


	</section><!-- //author-post -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}