---
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title: We'd love to hear from you

---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<div id="contact-block" class="container">
		<div class="row">
			<div class="form-contact">
				<form>
				  <div class="form-group">
				    <label>What's your name?</label>
				    <input type="text" class="form-control" >
				  </div>

				  <div class="form-group">
				    <label>What's your email address?</label>
				    <input type="email" class="form-control" >
				  </div>

				  <div class="form-group">
				    <label>Company</label>
				    <input type="text" class="form-control" >
				  </div>

				  <div class="form-group">
				    <label>Your phone number</label>
				    <input type="text" class="form-control" >
				  </div>

				  <div class="form-group">
				    <label>What can we do for you?</label>
				    <textarea class="form-control" rows="8"></textarea>
				  </div>
				  
				  <div class="checkbox">
				    <label>
				      <input type="checkbox" class="cxbox"> Please contact me about a demo.
				    </label>
				  </div><br>
				  <button type="submit" class="btn-green">Get In touch</button>
				</form>
			</div> <!-- //form-contact -->

			<div class="contact-right">
				<div class="inner">
					<div class="contact-add">
						<ul>
							<li>
								<span class="icons icon-home"></span>
								<div class="desc">
									<span class="text-lt">GrantVantage, Inc.</span><br>
									<strong>804 North Cleveland St. Arlington, Virginia 22201</strong>
								</div>
							</li>
							<li class="contact-add_phone">
								<span class="icons icon-telephone"></span>
								<div class="desc">
									<p class="phone">1-888-381-9734</p>
								</div>
							</li>
							<li>
								<span class="icons icon-email-envelope"></span>
								<div class="desc">
									<p class="mail">
										<strong>sales@grantvantage.com</strong><br>
										<strong>support@grantvantage.com</strong>
									</p>
								</div>
							</li>
						</ul>
					</div>

					<div class="contact-share">
						<div class="centered">
							<span class="text">Follow us on:</span>
							<a href="#" class="iconsocial"><span class="icon-facebook"></span></a>
							<a href="#" class="iconsocial"><span class="icon-twitter-alt"></span></a>
							<a href="#" class="iconsocial"><span class="icon-google"></span></a>
						</div>
					</div> <!-- //contact-add -->
				</div>
			</div> <!-- //contact-right -->
		</div>
	</div> <!-- //contact-block -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}