<div class="halfbgwhite"></div>
<div id="main" role="main">
	<div id="ebook-down" class="container">
		<div class="row">
			<div class="aside-ebook">
				<figure class="logoaside">
					<img src="assets/img/logo.png" alt="" width="253" height="63">
				</figure>
				
				<div class="aside-ebook__form">
					<form>
					  <div class="form-group">
					    <label>First name</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Last name</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Email</label>
					    <input type="email" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Phone</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Company name</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="form-group">
					     <label>Company Website</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Country</label>
					    <select class="selectpicker">
						  <option>Country 1</option>
						  <option>Country 2</option>
						  <option>Country 3</option>
						  <option>Country 4</option>
						  <option>Country 5</option>
						</select>
					  </div>
					  <div class="form-group">
					    <label>Would you like a demo</label>
					    <select class="selectpicker">
						  <option>Demo 1</option>
						  <option>Demo 2</option>
						  <option>Demo 3</option>
						  <option>Demo 4</option>
						  <option>Demo 5</option>
						</select>
					  </div>
					  <br>
					  <div class="text-center">
					  	<input type="submit" class="btn-green" value="Send me my e-book">
					  </div>
					</form>
				</div> <!-- //aside-ebook__form -->
			</div> <!-- aside-ebform -->

			<section id="ebook-post">
				<header>
					<h2>Quisque sed vulputate dolor malesuada augue</h2>
					<p>Pellentesque in varius purus, maximus vulputate quam</p>
				</header>

				<article class="ebook-post__detail">
					Phasellus tortor nibh, pulvinar eu tortor non, euismod pellentesque tellus. 
					Curabitur lectus tellus, accumsan nec fermentum et, ornare vel massa.

					<ul class="green-ticklist">
						<li ><strong>Sed lobortis ut arcu sed luctus. Integer id faucibus ante.</strong>Donec congue sapien hendrerit, porttitor dolor ac, porttitor libero. Nam 
						sapien eros, vulputate a congue in, fermentum tempor nibh.</li>
						<li>
							<strong>Suspendisse sollicitudin lectus ut nisi consectetur </strong>
							Nam sapien eros, vulputate a congue in, fermentum tempor nibh. Donec congue 
							sapien hendrerit, porttitor dolor ac, porttitor libero. 
						</li>
					</ul>


					<p>Nam tincidunt diam quis arcu posuere, sed viverra nunc tincidunt. Phasellus placerat turpis eros, quis dignissim ligula sagittis vitae. Etiam tempor posuere lacus, fringilla accumsan felis maximus nec.</p>

					<figure class="ebook-post__detail__thumb"><img src="{{assetsimg}}/thumbs/book.jpg" alt="" ></figure>

					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam ullamcorper dolor arcu, non pellentesque arcu bibendum et.</p>
					<p>Sed tempus sapien arcu, nec mollis risus finibus at. Ut quis massa ac metus cursus mattis.</p> 
				</article>
				
				<div id="ebook-post_footer" class="footeright-bottom">
					<p class="copyright">{{{ footer.copyright }}}</p>
					<div class="footeright-bottom-share">
						<ul>
							{{~#footer.footershare}}
								<li ><a href="#" class="grow {{.}}"></a></li>
							{{~/footer.footershare}}
						</ul>
					</div>
				</div>
		</div>		
	</div>

	<div id="bg">
    	<img src="assets/img/bgfix.jpg" alt="">
  	</div>
</div> <!-- //MAIN -->
