---
  budgetdesc: "Keep track of all equipment purchases made with grant and contract funds, know where each item is at all times, and easily reconcile outstanding equipment at the end of your grant cycle."
  
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title : Inventory Tracking
      desc : GrantVantage provides Grant managers with the following important features

---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>

  		<div class="jumbotron-thumb">
  			<figure class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"><img src="{{ assetsimg }}/thumbs/inventory.png" alt=""></figure>
  		</div>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<section class="featrecipient">
		<div class="container">
			<div class="row">
				<article class="budgerdec">
					<p class="inner">{{ budgetdesc }}</p>
				</article>	<!-- // budgerdec -->
			</div>
		</div>

		<div class="featbox">
			<div class="container">
				<div class="row">
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-search"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-cd"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-briefcase-case-two"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article><!-- //featbox-item -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="shecdemo-block" class="bgdark">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}