---
  budgetdesc: "After creating grants, easily add sub-recipient / sub-awards to meet overall objectives, incorporate sub-award budgets into primary grant budgets, and monitor objectives and activities at every level of the grant."
  
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title : Sub-Recipients & Sub-Awards
      desc : GrantVantage provides Grant managers with the following important features
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<section class="featrecipient">
		<div class="container">
			<div class="row">
				<article class="receipdesc">
					<p class="inner">{{ budgetdesc }}</p>
				</article>	<!-- // budgerdec -->
			</div>
		</div>

		<div class="budgetlist">
			<div class="container">
				<div class="row">
					<div class="budgetlist-item receiptlist col-sm-6">
						<ul>
							<li class="listone">
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
								<div class="iconsblue">
									<span class="icon-search"></span>
								</div>
							</li>

							<li class="listwo">
								<div class="desc">
									<h4><a href="#">Mattis tempor</a></h4>
									<p>Etiam id massa commodo, sodales massa at, convallis risus.</p>
								</div>
								<div class="iconsblue">
									<span class="icon-cd"></span>
								</div>
							</li>

							<li class="listhree">
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
								<div class="iconsblue">
									<span class="icon-briefcase-case-two"></span>
								</div>
							</li>
						</ul>
					</div> <!-- //budgetlist-item -->

					<div class="featrecipient-thumb col-sm-6">
						<figure class="wow slideInRight"><img src="{{ assetsimg }}/slide/recipient.jpg" alt=""></figure>
					</div> <!-- //budgetinglist-thumb -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}