---
  budgetdesc: "Set multiple  performance measures for each grant objective, select the “type of measure” (integer, money or percentage), and track the progress of these objectives throughout the life of the grant. Easily create standardized reports for financial and performance progress in less than 90 seconds!"
  
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title : Objectives
      desc : GrantVantage provides Grant managers with the following important features
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

{{> feature_nav }}
<div id="main" role="main" >
	<section class="budgeting">
		<article class="budgerdec">
			<p class="inner">{{ budgetdesc }}</p>
		</article>	<!-- // budgerdec -->

		<div class="budgetlist">
			<div class="container">
				<div class="row">
					<div class="budgetinglist-thumb col-sm-8">
						<figure  class="wow slideInLeft"><img src="{{ assetsimg }}/slide/homeslide2.png" alt=""></figure>
					</div> <!-- //budgetinglist-thumb -->

					<div class="budgetlist-item objitem col-sm-4">
						<ul>
							<li class="listone">
								<div class="iconsblue">
									<span class="icon-search"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
							</li>

							<li class="listwo">
								<div class="iconsblue">
									<span class="icon-cd"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Mattis tempor</a></h4>
									<p>Etiam id massa commodo, sodales massa at, convallis risus.</p>
								</div>
							</li>

							<li class="listhree">
								<div class="iconsblue">
									<span class="icon-briefcase-case-two"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
							</li>
						</ul>
					</div> <!-- //budgetlist-item -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}