---
  budgetdesc: "Get complete grant visibility in one place.  View all grants including budgets, objectives, activities and sub-activities. Drill down into sub-awards for a full comprehensive view and experience what the GrantVantage Solution offers at each level of the grant."

  jumbotron:
      title : Grant Management
      desc : GrantVantage provides Grant managers with the following important features

---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron" class="under">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>

  		<div class="jumbotron-thumb">
  			<figure class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"><img src="{{ assetsimg }}/thumbs/management.png" alt=""></figure>
  		</div>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<span class="arrow-dot"></span>
	<section class="featrecipient">
		<div class="container">
			<div class="row">
				<article class="budgerdec">
					<p class="inner">{{ budgetdesc }}</p>
				</article>	<!-- // budgerdec -->
			</div>
		</div>

		<div class="featbox">
			<div class="container">
				<div class="row">
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-search"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-cd"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item wobble-vertical">
						<div class="inner">
							<div class="iconsblue"><span class="icon-briefcase-case-two"></span></div>
							<h4>Nunc vulputate</h4>
							<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. Etiam vel rutrum odio. </p>
						</div>
					</article><!-- //featbox-item -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="shecdemo-block" class="bgdark">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}