---
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title : Outlook Integration
      desc : GrantVantage provides Grant managers with the following important features

  outlokdesc1:
      title : GrantVantage users never have to leave the comfort of the application they know best
      desc : "Microsoft Outlook. Using the Outlook Connector, all of the GrantVantage functionality is available directly within Outlook. Emails sent or received in Outlook can be associated with a specific grant or contact which enables a complete history of correspondence to be linked to your project."
  
  outlokdesc2:
      title : GrantVantage users never have to leave the comfort of the application they know best.

  outlooklist:
    - Microsoft Outlook
    - Email
    - Associated
    - Correnspondence
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<section class="budgeting">

		<div class="budgetlist">
			<div class="container">
				<div class="row">
					<div class="outlook-thumb">
						<figure><img src="{{ assetsimg }}/slide/outlook.jpg" alt=""></figure>
					</div> <!-- //budgetinglist-thumb -->

					<section class="outlookdesc row">
						<article class="outlookdesc-dtl">
							<h5 class="title-article">{{ outlokdesc1.title }}</h5>
							<p>{{ outlokdesc1.desc }}</p>
						</article>	
						<article class="outlookdesc-list">
							<h5 class="title-article">{{ outlokdesc2.title }}</h5>
							<ul>
								{{#outlooklist}}
								<li class="icon-check-mark-circle">{{.}}</li>
								{{/outlooklist}}
							</ul>
						</article>	
					</section> <!-- //outlookdesc -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="shecdemo-block" class="bgblue">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}