---
  budgetdesc: "Create budgets for every year of the project, assign which users can modify and approve budgets, create “revision drafts” and “carryover drafts” when budget modifications or adjustments are required. Drill down into any budget line item to view posted transactions against it, add new transactions as they occur, and receive automatic notifications when budget limits are near."
  
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      title : Budgeting
      desc : GrantVantage provides Grant managers with the following important features
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

{{> feature_nav }}
<div id="main" role="main" >
	<section class="budgeting">
		<article class="budgerdec">
			<p class="inner">{{ budgetdesc }}</p>
		</article>	<!-- // budgerdec -->

		<div class="budgetlist">
			<div class="container">
				<div class="row">
					<div class="budgetinglist-thumb col-sm-8">
						<figure  class="wow slideInLeft"><img src="{{ assetsimg }}/slide/budget_thumb.png" alt=""></figure>
					</div> <!-- //budgetinglist-thumb -->

					<div class="budgetlist-item col-sm-4">
						<ul>
							<li class="listone">
								<div class="iconsblue">
									<span class="icon-search"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
							</li>

							<li class="listwo">
								<div class="iconsblue">
									<span class="icon-cd"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Mattis tempor</a></h4>
									<p>Etiam id massa commodo, sodales massa at, convallis risus.</p>
								</div>
							</li>

							<li class="listhree">
								<div class="iconsblue">
									<span class="icon-briefcase-case-two"></span>
								</div>
								<div class="desc">
									<h4><a href="#">Nunc vulputate</a></h4>
									<p>Vivamus eu augue egestas, mattis tellus tristique, tempor magna. </p>
								</div>
							</li>
						</ul>
					</div> <!-- //budgetlist-item -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="shecdemo-block">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}