---
  budgetdesc: "Store and associate all important documents and media with your grants through The GrantVantage Solution. Upload PDFs, Word docs, Excel spreadsheets, photos, videos, award proposals, important funder correspondence, or any other kind of file for a permanent record of documentation and correspondence for a specific grant."
  
  jumbotron:
      title : Compare Us
      desc : GrantVantage provides Grant managers with the following important features

  compareprice :
    no: 1
    title: Pricing You Can understand and Afford
    desc: "Our pricing is simple and transparent.<br>Because let’s face it, you don’t make friends by charging “transaction fees.”"

  comparefast:
    no: 2
    title: Faster Everything
    desc: "It’s time to raise the bar. We’ve re-designed payroll to save you hours every month and transform paying your employees into a celebration, not a chore." 
    desc2: Some of the benefits reported
    list1: Strimelined Flow 
    list2: Employees Onboard Themselves
    list3: Easy to Use Product

  comparegreat:
    no: 3
    title: A Great Experient For Your Employees
    desc: "No more paperwork. Your employees can complete their onboarding by themselves, update personal information, and access paystubs and W2s using a secure online dashboard."

  compareconfid:
    no: 4
    title: A Great Experient For Your Employees
    desc: "Most payroll fines are due to incorrect data entry. We know you don’t speak IRS, so we safeguard you from entering the wrong information with our built-in tips, bank account and address verification, and simple user interface."

  comparecos:
    no: 5
    title: Customer Support That’s On Your Side
    desc: "Our San Francisco-based support team will go above and beyond to delight you, not leave you on hold or pass you off to another department."

---

<div id="stickyhead">
	<div class="container">
		<div class="stickyhead-menu">
			<ul>
				<li><a href="#">Want to lear more</a></li>
				<li><a href="#">Ask Us Question</a></li>
				<li><a href="#">Schedule a Demo</a></li>
			</ul>
		</div>
		<a href="#" class="stickyhead-call icon-telephone">Call 1-888-381-9734</a>
	</div>
</div> <!-- //stickyhead -->

<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >

	<section id="compare">
		<div class="container">
			<div class="centered">
				<article class="compareitem">
					<h3>
						<p class="iconsblue"><span>{{ compareprice.no }}</span></p>
						{{ compareprice.title }}
					</h3>
					<p class="desc">{{{ compareprice.desc }}}</p>
					<a href="#" class="btn-green outline-inward">Learn More</a>
				</article>
				
				<article class="compareitem">
					<h3>
						<p class="iconsblue"><span>{{ comparefast.no }}</span></p>{{ comparefast.title }}
					</h3>
					<p class="desc">{{ comparefast.desc }}</p>
					<a href="#" class="btn-green outline-inward">take a tour</a><br><br>
					<p class="desc">{{ comparefast.desc2 }}</p><br>
					<ul class="compareitem-list">
						<li>
							<figure><img src="{{ assetsimg }}/compare1.png" width="100" height="100"></figure>
							{{ comparefast.list1 }}</li>
						<li>
							<figure><img src="{{ assetsimg }}/compare2.png" width="100" height="100"></figure>
							{{ comparefast.list2 }}</li>
						<li>
							<figure><img src="{{ assetsimg }}/compare3.png" width="100" height="100"></figure>
							{{ comparefast.list3 }}</li>
					</ul>
				</article>

				<article class="compareitem">
					<h3>
						<p class="iconsblue"><span>{{ comparegreat.no }}</span></p>{{ comparegreat.title }}
					</h3>
					<figure class="img-left"><img src="{{assetsimg}}/thumbs/compare-phone.png" alt=""></figure>
					<p class="desc oflow text-left">
						{{ comparegreat.desc }}<br>
						<a href="#" class="btn-green outline-inward">Schedule a demo</a>
					</p>
					<div class="clearfix"></div>
				</article>

				<article class="compareitem">
					<h3>
						<p class="iconsblue"><span>{{ compareconfid.no }}</span></p>{{ compareconfid.title }}
					</h3>
					<p class="desc">{{ compareconfid.desc }}</p>
				</article>

				<article class="compareitem">
					<h3>
						<p class="iconsblue"><span>{{ comparecos.no }}</span></p>
						{{ comparecos.title }}
					</h3>
					<p class="desc">{{ comparecos.desc }}</p>
					<a href="#" class="btn-green outline-inward">Learn More</a>
				</article>
			</div>
		</div>
	</section> <!-- feat-compare -->

	<section id="shecdemo-block">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}