---
  budgetdesc: "Store and associate all important documents and media with your grants through The GrantVantage Solution. Upload PDFs, Word docs, Excel spreadsheets, photos, videos, award proposals, important funder correspondence, or any other kind of file for a permanent record of documentation and correspondence for a specific grant."
  
  jumbotron:
      title : Contracts
      desc : GrantVantage provides Grant managers with the following important features

---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  		<p>{{ jumbotron.desc }}</p>

  		<div class="jumbotron-thumb minbottom">
  			<figure class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s"><img src="{{ assetsimg }}/thumbs/laptop.png" alt=""></figure>
  		</div>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<section class="featrecipient">
		<div class="featbox">
			<div class="container">
				<div class="row">
					<article class="featbox-item lines first">
						<div class="inner-noborder">
							<div class="iconsblue"><span class="icon-search"></span></div>
							<h4>Manage and Close Contracts</h4>
							<p>Initiate, execute, manage and close contracts.  Manage contract objectives, activities, budgets, performance measures, and payment disbursements. Implement standardized language to ensure fast and consistent contract execution.</p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item lines second">
						<div class="inner-noborder">
							<div class="iconsblue"><span class="icon-cd"></span></div>
							<h4>Manage Contract Objectives</h4>
							<p>Initiate, execute, manage and close contracts.  Manage contract objectives, activities, budgets, performance measures, and payment disbursements. Implement standardized language to ensure fast and consistent contract execution.</p>
						</div>
					</article> <!-- //featbox-item -->
					<article class="featbox-item lines third">
						<div class="inner-noborder">
							<div class="iconsblue"><span class="icon-briefcase-case-two"></span></div>
							<h4>Payment Disbursements</h4>
							<p>Initiate, execute, manage and close contracts.  Manage contract objectives, activities, budgets, performance measures, and payment disbursements. Implement standardized language to ensure fast and consistent contract execution.</p>
						</div>
					</article><!-- //featbox-item -->
				</div>
			</div>
		</div> <!-- //budgetlist -->
	</section> <!-- Budgeting -->

	<section id="shecdemo-block" class="bgdark">
		<div class="container">
			<h3>{{ scheduledemo.title }}</h3>
			<h5>{{ scheduledemo.text1 }}</h5>
			<p class="desc">{{ scheduledemo.text2 }}</p>
			<a href="#" class="btn-green outline-inward">schedule a demo</a>
		</div>
	</section> <!-- //shecdemo-block -->
</div> <!-- //MAIN -->
{{> footer}}