---
  grant:
      title : Built by Grant Managers, For Grant Managers
      desc : "GrantVantage gives portfolio managers a complete top-down view off all Grants under management - from the primary Grant to the Sub-Award. View all objectives, activities and sub-activities. Get instant access to financial and performance summary information for all your Grants in one place."
  
  trusted:
      title :  Trusted By
      desc :  "GrantVantage is a top integration or strategic partner with the most trusted names in technology and fiscal management." 

  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  learnmore : Learn More
---
<div id="headerwrap" class="headerhome">
  {{> header }}
  {{> intro }}
</div><!-- //headerwrap -->

<div id="main" role="main" >
	<div id="grantmanage">
		<div class="container">
			<header class="grantmanage-head">
				<h2 class="title-black">{{{ grant.title }}}</h2>
				<p>{{{ grant.desc }}}</p>
			</header>
			
			<section id="grantslide">
				<ul class="bxslider">
				  <li><img src="{{assetsimg}}/slide/homeslide1.png" /></li>
				  <li><img src="{{assetsimg}}/slide/homeslide1.png" /></li>
				  <li><img src="{{assetsimg}}/slide/homeslide1.png" /></li>
				</ul>
			</section> <!-- grantslide -->
		</div>	
	</div> <!-- //gruntmange -->

	<div id="trusted-row">
		<div class="container">
			<header>
				<h2 class="title-black">{{ trusted.title }}</h2>	
				<p>{{ trusted.desc }}</p>
			</header>
			<div class="trustedpart">
				<ul>
					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner1.png" width="154" height="29">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner2.png" width="156" height="40">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner3.png" width="160" height="33">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner4.png" width="153" height="34">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner5.png" width="156" height="54">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner1.png" width="154" height="29">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner2.png" width="156" height="40">
								</figure>
							</a>
						</div>
					</li>

					<li class="trustedpart-item wobble-vertical">
						<div class="inner">
							<a href="#">
								<figure>
									<img src="{{ assetsimg}}/partners/partner3.png" width="160" height="33">
								</figure>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div> <!-- //trusted-row -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->

<div class="modal-schedule remodal" data-remodal-id="modal">

    <header class="modal-schedule__title">
    	<h1>Leaving so soon? <br>Why don't you give a try to schedule a demo.<span>It's Free!</span></h1>
    </header>
	<div class="modal-schedule__inner">
		<div class="schedule-form">	
			<header>
				<h2>Schedule a Demo</h2>
				<p>Only takes a few seconds to create an Interstate!</p>
			</header>
			<form>
			  <div class="form-group">
			    <label>Company name</label>
			    <input type="text" class="form-control" >
			  </div>
			  <div class="row">
				  <div class="form-group col-md-6">
				    <label>First name</label>
				    <input type="text" class="form-control" >
				  </div>
				  <div class="form-group col-md-6">
				    <label>First name</label>
				    <input type="text" class="form-control" >
				  </div>
			  </div>
			  <div class="form-group">
			    <label>Email</label>
			    <input type="email" class="form-control" >
			  </div>
			  <div class="form-group">
			    <label>Password</label>
			    <input type="password" class="form-control" >
			  </div>
			  <div class="text-center">
			  	<button type="submit" class="btn-green outline-inward">Schedule</button>
			  </div>
			</form>
		</div>
	</div>
</div> <!-- modal-schedule -->

{{> footer}}