---
  budgetdesc: "After creating grants, easily add sub-recipient / sub-awards to meet overall objectives, incorporate sub-award budgets into primary grant budgets, and monitor objectives and activities at every level of the grant."
  
  homecall:
      desc : Want to learn more? Speak to a GrantVantage expert.<br> No pressure, just information!
      phone : Call us at  <span>1-888-381-9734</span>

  jumbotron:
      desc : We can help you maximize funds, streamline business processes, and navigate agency program policies and regulations.

  introsol:
    - thumb: industry_thumb1.jpg
      link: State/Local Governments
    - thumb: industry_thumb2.jpg
      link: Colleges & Universitie
    - thumb: industry_thumb3.jpg
      link: Tribes
    - thumb: industry_thumb4.jpg
      link: Nonprofits

  solutions:
    - title: Pellentesque Faucibus 
      desc: "Etiam vel rutrum odio. Ut aliquam accumsan odio vel sodales. Praesent ornare, tellus ac eleifend iaculis, sapien ipsum luctus velit, ac auctor augue purus sed nunc."
      thumb: icon_ind1.png
      width: 69
      height: 64
    - title: Quis Gravida
      desc: "Aliquam eu tincidunt purus. Cras mattis lectus sit amet faucibus tempor. Pellentesque quis gravida velit."
      thumb: icon_ind2.png
      width: 70
      height: 72
    - title: Luctus Velit
      desc: "Ut aliquam accumsan odio vel sodales. Etiam vel rutrum odio. Tellus ac eleifend iaculis, sapien ipsum luctus velit, ac auctor augue purus sed nunc."
      thumb: icon_ind3.png
      width: 69
      height: 64
    - title: Faubius amet
      desc: "Etiam vel rutrum odio. Ut aliquam accumsan odio vel sodales. Praesent ornare, tellus ac eleifend iaculis, sapien ipsum luctus velit, ac auctor augue purus sed nunc."
      thumb: icon_ind4.png
      width: 69
      height: 61
    - title: Etiam Odio Vel
      desc: "Aliquam eu tincidunt purus. Cras mattis lectus sit amet faucibus tempor. Pellentesque quis gravida velit."
      thumb: icon_ind5.png
      width: 69
      height: 80
    - title: Etiam Odio Vel
      desc: "Aliquam eu tincidunt purus. Cras mattis lectus sit amet faucibus tempor. Pellentesque quis gravida velit."
      thumb: icon_ind6.png
      width: 69
      height: 70
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<p class="textlight">{{ jumbotron.desc }}</p>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->

<section id="intro-solution">
	<div class="container">
		<ul>
			{{~#introsol}}
			<li class="intro-solution_item">
				<figure><img src="assets/img/thumbs/{{thumb}}"></figure>
				<a href="#" class="link-solut"><span class="icon-chevron-right">{{link}}</span></a>
			</li>	
			{{~/introsol}}
		</ul>
   </div>
</section> <!-- //intro-solution -->

<div id="main" role="main" >
	
	<section class="solutions">
		<div class="container">
			<h3 class="title-article">Donec eget sollicitudin tellus, vel feugiat lorem.</h3>
			{{~#solutions}}
			<article class="solutions-item">
				<figure><img src="assets/img/{{thumb}}"  width="{{width}}" height="{{height}}"></figure>
				<div class="desc">
					<h5><a href="#">{{title}}</a></h5>
					<p>{{desc}}</p>
				</div>
			</article> <!-- //solutions-item -->
			{{~/solutions}}
		</div>
	</section><!-- solutions -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}