<div id="main" role="main">
	<div class="container">
		<div id="logocenter">
			<figure><img src="assets/img/logo.png" alt="" width="253" height="63"></figure>
		</div><!-- //logocenter -->

		<div class="gey-box">
			<div id="schedule">
				<div class="schedule-form">
					<header>
						<h2>Schedule a Demo</h2>
						<p>Only takes a few seconds to create an Interstate!</p>
					</header>

					<form>
					  <div class="form-group">
					    <label>Company name</label>
					    <input type="text" class="form-control" >
					  </div>
					  <div class="row">
						  <div class="form-group col-md-6">
						    <label>First name</label>
						    <input type="text" class="form-control" >
						  </div>
						  <div class="form-group col-md-6">
						    <label>First name</label>
						    <input type="text" class="form-control" >
						  </div>
					  </div>
					  <div class="form-group">
					    <label>Email</label>
					    <input type="email" class="form-control" >
					  </div>
					  <div class="form-group">
					    <label>Password</label>
					    <input type="password" class="form-control" >
					  </div>
					  <div class="text-center">
					  	<button type="submit" class="btn-green outline-inward">Schedule</button>
					  </div>
					</form>
				</div>
			</div> <!-- //schedule -->
		</div> <!-- //gey-box -->
	</div>

	<div id="bg">
    	<img src="assets/img/bgfix.jpg" alt="">
  	</div>
</div> <!-- //MAIN -->