---
  budgetdesc: "Store and associate all important documents and media with your grants through The GrantVantage Solution. Upload PDFs, Word docs, Excel spreadsheets, photos, videos, award proposals, important funder correspondence, or any other kind of file for a permanent record of documentation and correspondence for a specific grant."
  
  jumbotron:
      title : Why GrantVantage

  centertext: "We can help you maximize funds, streamline business processes, and navigate agency program policies and regulations"
     

  whylist:  
    - title : Grant Consulting
      desc : "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-talk-chat
    - title : Implementation
      desc : "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-measure
    - title: Data Migration
      desc: "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-random
    - title: Integration
      desc: "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-gears-setting
    - title: Training
      desc: "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-briefcase-case-two
    - title: Support
      desc: "Our grant support services are valuable to both organizations entering funding or currently funded by federal and state agencies. Clients easily meet financial and programmatic reporting requirements and are prepared for government program and financial audits."
      icons: icon-lifebuoy
---
<div id="headerwrap">
  {{> header }} 
  <section id="jumbotron">
  	<div class="container">
  		<h2 class="title-whitelg">{{ jumbotron.title }}</h2>
  	</div>
  </section> <!-- //jumbotron -->
</div><!-- //headerwrap -->
		
<div id="main" role="main">
	<section id="whyGve"  class="container">
		<h2>{{ centertext }}</h2>
		<div class="whyGve__post">
			{{~#whylist}}
				<article class="whyGve__post__list">
					<p class="whyGve__post__list__icons {{icons}}"></p>
					<div class="desc">
						<h4><a href="#">{{ title }}</a></h4>
						<p>{{ desc }}</p>
					</div>
				</article>
			{{~/whylist}}
		</div> <!-- //whyGve_post -->
	</section> <!-- //whyGve -->

	<section id="dark-block">
		<div class="container">
			<div class="callrow-inner">	
				<div class="callrow-text">
					<p>{{{ homecall.desc }}}</p>
				</div>	
				<div class="callrow-phone">
					<p>{{{ homecall.phone }}}</p>
				</div>
			</div>
		</div>
	</section>
</div> <!-- //MAIN -->
{{> footer}}