---
featnav1: Grant Management   
featnav2: Objectives
featnav3: Contracts 
featnav4: Sub-Recipients
featnav5: Budgeting
featnav6: Iventory Tracking
featnav7: Document Management
featnav8: Reporting & Audit
featnav9: Outlook Intergration
---

<div class="navfeature">
	<div class="container">
		<ul>
			<li {{#is basename "feature_grandmanage"}} class="current" {{/is}}>
				<a href="feature_grandmanage.html">{{ feature_nav.featnav1 }}</a>
			</li>
			<li {{#is basename "feature_objective"}} class="current" {{/is}}>
				<a href="feature_objective.html">{{ feature_nav.featnav2 }}</a>
			</li>
			<li {{#is basename "feature_contract"}} class="current" {{/is}}>
				<a href="feature_contract.html">{{ feature_nav.featnav3 }}</a>
			</li>
			<li {{#is basename "feature_recipients"}} class="current" {{/is}}>
				<a href="feature_recipients.html">{{ feature_nav.featnav4 }}</a>
			</li>
			<li {{#is basename "feature_budgeting"}} class="current" {{/is}}>
				<a href="feature_budgeting.html">{{ feature_nav.featnav5 }}</a>
			</li>
			<li {{#is basename "feature_iventory"}} class="current" {{/is}}>
				<a href="feature_iventory.html">{{ feature_nav.featnav6 }}</a>
			</li>
			<li {{#is basename "feature_document"}} class="current" {{/is}}>
				<a href="feature_document.html">{{ feature_nav.featnav7 }}</a>
			</li>
			<li {{#is basename "feature_report_audit"}} class="current" {{/is}}>
				<a href="feature_report_audit.html">{{ feature_nav.featnav8 }}</a>
			</li>
			<li {{#is basename "feature_outlook"}} class="current" {{/is}}>
				<a href="feature_outlook.html">{{ feature_nav.featnav9 }}</a>
			</li>
			
		</ul>
	</div>
</div> <!-- //navfeature -->