---
 footeribon: 
    title : Our Promise
    desc : "We are so confident that GrantVantage’s bolt-on system will revolutionize the way you manage grants & contracts that if your organization doesn’t see value within <strong>60 days</strong> of implementation, we’ll refund your money – no questions asked."

 footmenu1: 
    - About
    - Team
    - Careers
    - Our Brand

 footmenu2: 
    - How it works
    - Industry solutions
    - Download 

 footmenu3:   
    - Case studies
    - Blog
    - Get help

 footmenu4: 
    - Sign in
    - Schedule a demo
    - Submit an RFP

 copyright: COPYRIGHT &copy; 2014 grantvantage, ALL RIGHTS RESERVED

 footershare:   
    - icon-facebook
    - icon-twitter-alt
    - icon-rss
    - icon-google
    - icon-linkedin
---
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="footerleft">
				<div class="footerleft-ribon">
					<h4>{{ footer.footeribon.title}}</h4>
					<p>{{{ footer.footeribon.desc }}}</p>
				</div>
			</div> <!-- //footerleft -->

			<div class="footeright">
				<div class="footeright-top">
					<ul>
						{{~#footer.footmenu1}}
						<li><a href="#">{{.}}</a></li>
						{{~/footer.footmenu1}}
					</ul>

					<ul>
						{{~#footer.footmenu2}}
						<li><a href="#">{{.}}</a></li>
						{{~/footer.footmenu2}}
					</ul>

					<ul>
						{{~#footer.footmenu3}}
						<li><a href="#">{{.}}</a></li>
						{{~/footer.footmenu3}}
					</ul>

					<ul>
						{{~#footer.footmenu4}}
						<li><a href="#">{{.}}</a></li>
						{{~/footer.footmenu4}}
					</ul>
				</div> <!-- //footeright-top -->

				<div class="footeright-bottom">
					<p class="copyright">{{{ footer.copyright }}}</p>
					<div class="footeright-bottom-share">
						<ul>
							{{~#footer.footershare}}
								<li ><a href="#" class="grow {{.}}"></a></li>
							{{~/footer.footershare}}
						</ul>
					</div>
				</div>
			</div> <!-- //footeright  -->
		</div>
	</div>
</footer> <!-- //FOOTER -->
