---
  menutop:
    - About
    - Resources
    - Contact
  ---<header id="header">
      <div class="container">
        <div class="headertop">
          <ul>
              <li {{#is basename "about"}} class="active"{{/is}}><a href="about.html">About</a></li>
              <li {{#is basename "resources"}} class="active"{{/is}}><a href="#">Resources</a></li>
              <li {{#is basename "contact"}} class="active"{{/is}}><a href="#">Contact</a></li>
              <li><a href="#" >Product PDF <span class="icon-cloud-download"></span></a></li>
          </ul>
        </div><!-- // headertop -->
        <div class="clearfix"></div>
      </div> <!-- container -->

      <div class="container">
          <div class="headermain">
              <h1 id="logo">
                <figure>
                  <a href="#"><img src="{{assetsimg}}/logo.png" alt="Grantvantage Logo" width="253" height="77"></a>
                </figure>
              </h1> <!-- Logo -->
              {{> navigation}}
          </div> <!-- //headermain -->
      </div>
  </header> <!-- HEADER -->