<section id="intro">
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="{{assetsimg}}/bg_blue.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYER NR. 1 -->
					<div class="tp-caption customin customout intro-title"
						data-x="center" 
						data-hoffset="0"
						data-y="220"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1500"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="z-index: 11">Cloud-Based & Compliant
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption descenter"
						data-x="center" data-hoffset="0"
						data-y="310" data-voffset="0"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="2700"
						data-endeasing="Power4.easeIn"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						style="z-index: 12">Our product is 100% cloud based for security and reliability,and is compliant <br> with the OMB Super Circular & The DATA Act
					</div>

					<div class="tp-caption customin skewtoleft"
						data-x="center"
						data-y="430"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="2000"
						data-easing="Back.easeOut"
						data-endspeed="600"
						data-endeasing="Power4.easeIn"
						style="z-index: 7">
						<a href="#" class="btn-green">Learn More</a>
						<a href="#" class="btn-tansparent"><span class="icon-triangle-right">Watch video</span></a>
						<!-- <a href="#" class="btn-tansparent"><span class="icon-clipboard-pencil">Schedule a Demo</span></a> -->
					</div>
				</li>

				<!-- SLIDE  -->
				<li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000"  >				
					<img src="{{assetsimg}}/bg_orange.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<div class="tp-caption lfr intro-titlelt"
						data-x="left"  data-hoffset="20"
						data-hoffset="0"
						data-y="210"
						data-speed="600"
						data-start="1200"
						data-easing="Back.easeOut"
						data-endspeed="300"
						style="z-index: 11">Works with Your Existing <br>Tools & Systems
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption descleft"
						data-x="left" data-hoffset="20"
						data-y="330" data-voffset="0"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="2700"
						data-endeasing="Power4.easeIn"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						style="z-index: 12">We integrate with the tools you already <br>use, such as major accounting platforms <br>and Microsoft Outlook
					</div>

					<div class="tp-caption customin customout"
						data-x="left" data-hoffset="20"
						data-y="470"
						data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1300"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 7">
						<a href="#" class="btn-green">Learn More</a>
						<a href="#modal" class="btn-tansparent"><span class="icon-clipboard-pencil">Schedule a Demo</span></a>
					</div>

					<div  class="tp-caption lfb skewtoleft"
						data-x="right"
						data-y="280"
						data-speed="2000"
						data-start="2200"
						data-easing="Power4.easeOut"
						data-endspeed="400"
						data-endeasing="Power1.easeIn"
						style="z-index: 3"><img src="{{ assetsimg}}/slide/slide3.png" alt="" class="imgintro">
					</div>

					<div class="tp-caption skewtoright skewfromleft"
						data-x="right"
						data-y="bottom"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1300"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-captionhidden="on"
						style="z-index: 5"><img src="{{ assetsimg}}/cloud.png" alt="">
					</div>
				</li>

				<!-- SLIDE --> 
				<li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" >				
					<img src="{{assetsimg}}/bg_green.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<div class="tp-caption lfr intro-title" 
						data-x="center" 
						data-hoffset="0"
						data-y="220"
						data-speed="600"
						data-start="1100"
						data-easing="Back.easeOut"
						data-endspeed="300"
						style="z-index: 11">Audit Ready, At Any Time
					</div>

					<!-- LAYER NR. 7 -->
					<div class="tp-caption skewfromleft customout descenter"
						data-x="center" data-hoffset="0"
						data-y="310" data-voffset="0"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="800"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="on"
						style="z-index: 12">Our product keeps a record of all revisions and modifications to your grants, <br>enabling complete real-time accountability
					</div>

					<div class="tp-caption skewtoright skewfromleft "
						data-x="center"
						data-y="430"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="2200"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-captionhidden="on"
						style="z-index: 7">
						<a href="#" class="btn-green">Learn More</a>
						<a href="#modal" class="btn-tansparent"><span class="icon-clipboard-pencil">Schedule a Demo</span></a>
					</div>

					<div class="tp-caption lfb ltb"
						data-x="center" data-hoffset="0"
						data-y="bottom" data-voffset="250"
						data-speed="600"
						data-start="800"
						data-easing="Back.easeOut"
						data-endspeed="600"
						data-endeasing="Power4.easeIn"
						data-captionhidden="on"
						style="z-index: 0">
						<img src="{{assetsimg}}/slide/glow.png" alt="">
					</div>
				</li>
			</ul>
		</div>
    </div>
</section> <!-- //intro -->