<nav id="navigation">
                <ul id="menu">
                    <li {{#is basename "feature_budgeting"}} class="current"{{/is}}><a href="feature_budgeting.html">Feature</a></li>
                    <li><a href="#">Industry Solutions <b class="caret"></b></a>
                       <ul>
                            <li><a href="#">Portfolio Management</a></li>
                            <li><a href="#">bike accidents</a>
                                <ul>
                                    <li><a href="#">Sub_dropdown_1</a></li>
                                    <li><a href="#">Sub_dropdown_2</a></li>
                                    <li><a href="#">Sub_dropdown_3</a></li>
                                    <li><a href="#">Sub_dropdown_4</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Slips and falls</a></li>
                        </ul>
                    </li>
                    <li {{#is basename "why_grantvantage"}} class="current"{{/is}}><a href="#">why grantvantage</a></li>
                    <li><a href="#">Contract Management</a></li>
                </ul>  
            </nav> <!-- //navigation -->